/* //FONDO WEB// */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #121415;
}


/* //EDITANDO EL MENU// */
a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}

.container {
	width: 100%;
	margin: auto;
}

.nav-main {
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 20px 0;
	background: #45007F;
}

.nav-main ul {
	display: flex;
}

.nav-main ul li {
	padding: 10px;
}

.nav-main ul li a {
	padding: 2px;
}

.nav-main ul li a:hover {
	border-bottom: 3px solid #fffff2;
}

.nav-main ul li a:hover {
	opacity: .8;
}

.nav-main ul.nav-menu {
	flex: 1;
	margin-left: 20px;
}

.nav-brand {
	width: 50px;
}


/* //SECCION A CANTAR DESDE CERO// */
.bienvenido2 {
	width: 100%;
	height: 700px;
	background: url('https://www.finalactdrama.com/uploads/4/1/8/4/4184316/9680192_orig.jpg') no-repeat center center/cover;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.bienvenido2 {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.bienvenido2 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 33px;
	color: #F7E7E6
}

.parrafos2 {
	font-family: ebrima;
	font-size: 24px;
	color: #DECED7;
	padding-bottom: 12px;
}

.bienvenido2 a {
	font-family: 'Montserrat', sans-serif;
	color: #F7E7E6;
	font-size: 19px;
	background: #8C00FF;
	padding: 12px;
}

.bienvenido2 a:hover {
	background: #230145;
}



/* //EDITANDO SECCION ¿QUE ES EL CANTO? Y MAS...// */
.contenedor1 {
	width: 100%;
	height: 690px;
	text-align: center;
	align-items: center;
}

.contenedor1 .texto-corto {
	font-family: ebrima;
	font-size: 18px;
	color: #DECED7;
	width: 700px;
	margin: auto;
	padding-bottom: 60px;
	padding-top: 60px;
}

.contenedor1 h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #F7E7E6;
	padding: 15px;
	background: #8C00FF;
	width: 50%;
	margin: auto;

}

.contenedor1 h3:hover {
	background: #230145;
}


/* //Editando LISTA PARA APRENDER A CANTAR// */
/* /Primero aprenderemos a explorar nuestra voz/ */
.contenedor-elementos {
	width: 1100px;
	height: 300px;
	/*background: #DB2D70;*/
	margin: auto;



}

.elementos {
	color: #F7E7E6;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding: 8px;
	margin: 16px;
	background: #2707F2;
	text-align: left;
	height: 36px;

	box-shadow: 0 2px 2px #45007F;
	overflow: hidden;
	margin: 24px;
	text-align: center;
	transition: all 0.25s;
}

.elementos:hover {
	transform: translateY(-12px);
	box-shadow: 0 12px 16px #8B09FF;
}

.elementos:hover {
	background:  #45007F;
}


.contenedor2 h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #F7E7E6;
	padding: 15px;
	background: #8C00FF;
	width: 50%;
	margin: auto;
}

.contenedor2 h3:hover {
	background: #230145;
}


.contenedor3 h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #F7E7E6;
	padding: 15px;
	background: #8C00FF;
	width: 50%;
	margin: auto;
	text-align: center;
}

.contenedor3 h3:hover {
	background: #230145;
}


.contenedor4 h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #F7E7E6;
	padding: 15px;
	background: #8C00FF;
	width: 50%;
	margin: auto;
	text-align: center;
}

.contenedor4 h3:hover {
	background: #230145;
}


/* //Ultimos// */
.ultimos {
	width: 100%;
	height: 200px;
	background: #181A1B;

	display: flex;
	flex-direction: column;
}

.ultimos h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #F7E7E6;
	padding: 15px;
	width: 50%;
	margin: auto;
	text-align: center;
	justify-content: flex-start;
	align-items: center;
}

.ultimos p {
	margin: auto;
	text-align: center;
	flex-direction: row;
	align-items: center;

	font-family: ebrima;
	color: #DECED7;
	font-size: 17px;
	
}